<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/greaterThanFive6-desktop/src/onzichtbaar/net/greaterThanFive6/desktop/DesktopLauncher.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="onzichtbaar.net.greaterThanFive6.desktop.DesktopLauncher"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="greaterThanFive6-desktop"/>
</launchConfiguration>
